# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# postgres://{username}:{password}@{hostname}:{port}/{database-name}
POSTGRES_PRISMA_URL="postgresql://root:root@localhost:5432/text_search"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET="random_key_do_not_change_that"

# Api key for together.ai: https://api.together.xyz/
TOGETHER_API_KEY="xxxxx"